ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
pyparsing==2.2.0
python-dateutil==2.7.3
qtconsole==4.3.1
scikit-learn==0.19.1
scipy==1.1.0
sklearn==0.0
tqdm==4.23.3
ujson==1.35
xgboost==0.7.2
